<!DOCTYPE html>
<html>
    <head>
        <title>Register page</title>
        <style>
        body{
            background-image: url("Naa.jpg");
            background-repeat:no-repeat;
            background-size: 100% 100%;

        }
        </style>
    </head>
    <body>
        <form action="/Register" method="POST">
        <center> <h1>Singup</h1>
        <label><b>username:</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <br></br>
        <label><b>password:</b></label>
        <input type="password" placeholder="Enter password " name="password" required>
        <br></br>
        <label><b>phonenumber:</b></label>
        <input type="phonenumber" placeholder="Enter phonenumber " name="phonenumber" required>
        <br></br>
        <label><b>emailid:</b></label>
        <input type="emailid" placeholder="Enter emailid" name="emailid" required>
        <br></br>
        <button type="submit"> submit</button>
        <br></br>
        </center>
        </form>

    </body>
</html>
